---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import ContactDemo from '../components/sections/ContactDemo.astro';
---

<Layout
  title="Request a Demo | MARLO"
  description="Book a personalized demo to explore how MARLO can support your program."
>
  <Navbar />
  <main>
    <ContactDemo />
  </main>
  <Footer />
</Layout>
