---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import WhatIsMarlo from '../components/sections/WhatIsMarlo.astro';
import StrategicChallenge from '../components/sections/StrategicChallenge.astro';
import PlatformCapabilities from '../components/sections/PlatformCapabilities';
import Innovation from '../components/sections/Innovation.astro';
import PlatformLifecycle from '../components/sections/PlatformLifecycle.astro';
import TechnologyGovernance from '../components/sections/TechnologyGovernance.astro';
import StrategicImpact from '../components/sections/StrategicImpact.astro';
import ResourcesAccess from '../components/sections/ResourcesAccess.astro';
import FinalCTA from '../components/sections/FinalCTA.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <WhatIsMarlo />
    <StrategicChallenge />
    <PlatformCapabilities client:load />
    <Innovation />
    <PlatformLifecycle />
    <TechnologyGovernance />
    <StrategicImpact />
    <ResourcesAccess />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
