---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import TeamTechnology from '../components/sections/TeamTechnology.astro';
---

<Layout
  title="Team & Technology | MARLO"
  description="Meet the multidisciplinary team behind MARLO and learn about the technology stack and development approach powering the platform."
>
  <Navbar />
  <main>
    <TeamTechnology />
  </main>
  <Footer />
</Layout>
